.husky/
__mocks__/
__fixtures__/
jest/
dist/
node_modules/
reports/
stats/
*.md
*.d.ts
*.config.js
examples/chrome-extension/**/rudderAnalytics.js
examples/chrome-extension/**/foreground.js
/integrations/Ninetailed/sample-app/*
testBookSuites/
tsconfig.build.tsbuildinfo
nativeSdkLoader.js
nativeSdkLoader.ts

assets/
