**/.DS_Store
**/bin/
**/obj/
**/.vs
**/.vscode
**/.classpath
**/.settings/
**/.project
*.iml
**/node_modules
**/**/node_modules
local.properties
*.apk
*.zip
build.sh
publish.sh
dist/*
!dist/rudder-sdk-js/*
dist/rudder-sdk-js/index.js
dist/rudder-sdk-js/service-worker/
coverage/**
__tests__/prodsdk.js
.eslintcache
.idea
