**/.DS_Store
**/bin/
**/obj/
**/.vs
**/.vscode
**/.classpath
**/.settings/
**/.project
*.iml
**/node_modules
**/**/node_modules
local.properties
*.apk
*.zip
package-lock.json
build.sh
publish.sh
coverage/**
__tests__/prodsdk.js
