/node_modules
npm-debug.log*

# testing
/reports

# production
dist/
__tests__/prodsdk.js

# code analysis tools
.scannerwork
dependency-check-bin/
dependency-check-reports/
.eslintcache

# misc
.DS_Store
.env
.vscode/
.idea/
**/bin/
**/obj/
**/.vs
**/.classpath
**/.settings/
**/.project
*.iml
local.properties
*.apk
*.zip
build.sh
publish.sh