dist/
node_modules/
reports/
stats/
assets/
cdnSDK.js
cdnSDKv3.js
CHANGELOG.md
CHANGELOG_LATEST.md
CONTRIBUTING.md

examples/chrome-extension/**/rudderAnalytics.js
examples/chrome-extension/**/foreground.js
examples/**/index.html
**/integrations/Ninetailed/sample-app/*
**/public/index.html

/.nx/cache