# Include patterns from .gitignore
# .gitignore

# Additional Prettier-specific ignore patterns
**/public/index.html
assets/
CHANGELOG.md
CHANGELOG_LATEST.md
CONTRIBUTING.md
examples/chrome-extension/**/rudderAnalytics.js
examples/chrome-extension/**/foreground.js
examples/**/index.html
examples/gatsby/sample-gatsby-site/public/
examples/gatsby/sample-gatsby-plugin-usage/public/
**/nativeSdkLoader.js
