* @rudderlabs/js-sdk

/packages/analytics-js-integrations/src/ @rudderlabs/integrations
/packages/analytics-js-integrations/__fixtures__/ @rudderlabs/integrations
/packages/analytics-js-integrations/__tests__/ @rudderlabs/integrations
/packages/analytics-js-integrations/__mocks__/ @rudderlabs/integrations
/packages/analytics-js-integrations/README.md @rudderlabs/integrations
/packages/analytics-js-integrations/.size-limit.js @rudderlabs/integrations

/assets/integrations/AdobeAnalytics/ @rudderlabs/integrations
/examples/integrations/ @rudderlabs/integrations
