# RudderStack source with an Amplitude device-mode destination using Browser SDK v2
VITE_RUDDERSTACK_WRITE_KEY=${WRITE_KEY}
VITE_RUDDERSTACK_DATA_PLANE_URL=${DATAPLANE_URL}
VITE_RUDDERSTACK_CONFIG_URL=${CONFIG_SERVER_HOST}

# Use the same client-side API key configured on the Amplitude destination
VITE_AMPLITUDE_API_KEY=
