name: 'Unit Tests, Coverage v1'

on:
  workflow_dispatch:
  push:
    branches: ['v1-production', 'v1-staging']
  pull_request:
    branches: ['v1-production', 'v1-staging']
    types: ['opened', 'reopened', 'synchronize']

jobs:
  build:
    name: 'Unit Tests, Coverage v1'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          # node-version-file: '.nvmrc'
          # cache: 'npm'
          node-version: '16.15.1'

      - name: Execute unit tests
        env:
          HUSKY: 0
        run: |
          npm ci
          npm run test:ci
          npm run check:lint:ci

      - name: Fix filesystem paths in generated reports
        run: |
          sed -i 's+home/runner/work/rudder-sdk-js/rudder-sdk-js+/github/workspace+g' reports/coverage/lcov.info
          sed -i 's+/home/runner/work/rudder-sdk-js/rudder-sdk-js+/github/workspace+g' reports/eslint.json
